.navbar-brand:hover {
    background: #32323a;
    background-color: #32323a;
    color: #32323a;
}

.myhead {
    color: #fff;
    width: 260px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    /* text-transform: uppercase; */
    line-height: 30px;
    background: #32323a;
}