.red {
    color: red;
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

.ora {
    color: black;
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

.green {
    color: green;
    width: 30px;
    height: 20px;
    border-radius: 5px;
}